body{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar{
  border-bottom: none;
  background-color: #222;
  padding: 2px;
}
navbar-brand{
  height: 80px;
  padding: 25px 0 0 0px;
}
header{
  float: right;
  margin: 0;
  padding: 0;
  /*text-align: center;*/
}
.brand-statement{
  color: #222;
}
blockquote{
  font-size: 18px;

}
.phone, .email{
  color: #fff;
  font-size: 20px;
}
.phone:hover, .email:hover{
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.menu{
  padding: 15px 20px 15px 0px;
}
.body-text{
  line-height: 20px;
}
.title{
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  letter-spacing: .02em;
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Questrial', sans-serif;*/
  /*font-family: 'Meera Inimai', sans-serif;*/
  /*font-family: 'Mallanna', sans-serif;*/
}
.sub-title{
  font-style: italic;
  margin-top: 0;
}
.city{
  color: grey;
  font-size: 14px;
  margin: 0;
}
.date{
  color: tomato;
}
.left-title{
  color: #ffffff;
  margin-top: 0px;
}
.name{
  color: #000000;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 5px;
}
.tag{
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
.left{
  background-color: #29a0da;
  /*background-color: tomato;*/
  padding: 20px;
  border-bottom-left-radius: 50px;
  border-top: 5px solid white;
  margin-bottom: 20px;
}
.right{
  /*background-color: #e1e1e1;*/
  /*border: 5px solid tomato;*/
  /*padding: 20px;*/
}
.right-title{
  color: #29a0da;
  margin-top: 10px;
}

a{
  color: grey;
}
a:visited, a:active{
  color: grey;
}
a:hover{
  color: #29a0da;
  /*color: tomato;*/
}
.myinfo{
  padding: 0 0 0 10px;
}
.skills{
  padding-top: 63px;
}
.skillstext{
  padding: 20px;
}

.portfolio, .albatross {
  padding: 5px 0 20px 20px;
}

.petfinder, .lyricist, .rooms{
  padding: 5px 0 20px 20px;
}
.ga, .scsu{
  padding: 5px 0 10px 20px;
}
.profile{
  letter-spacing: .02em;
  padding: 0 0 0px 10px;
}
.professional{
  line-height: 25px;
  font-size: 14px;
}

#projects, #experience, #education{
  border-top: 5px solid white;
}

/* Float Animation */

.hvr-float {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}
